---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/landing/Hero.astro";
import Explainer from "@components/landing/Explainer.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import Sponsors from "@/components/landing/Sponsors.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const h = t("home");

export async function getStaticPaths() {
    return [{ params: { locale: "en" } }, { params: { locale: "es" } }];
}
---

<Layout title={h.layout_title} lang={lang}>
    <main class="h-full w-full">
        <Hero lang={lang} t={t} />

        <Explainer lang={lang} t={t} />

        <Sponsors lang={lang} t={t} />
    </main>
</Layout>
