---
import HackscateIcon from "@components/icons/HackscateIcon.astro";
import MenuIcon from "@components/icons/MenuIcon.astro";
import { useTranslations } from "@/i18n/utils";
import { defaultLang } from "@/i18n/ui";

interface Props {
    lang: "es" | "en";
}

const { lang = defaultLang } = Astro.props;

const t = useTranslations(lang);
const n = t("nav");
---

<header class="bg-transparent text-primary fixed w-dvw p-4 z-50" role="banner">
    <div class="absolute w-full h-full inset-0 p-4">
        <div class="relative esquina-cortada bg-white size-full z-0"></div>
    </div>
    <div class="absolute w-full h-full inset-0 p-4.5">
        <div class="relative esquina-cortada bg-[#0c0c0c] size-full z-5"></div>
    </div>
    <div
        class="flex px-6 py-3 justify-between overflow-hidden items-center p-0.5"
    >
        <nav class="flex items-center z-10" aria-label="Navegación principal">
            <a
                href="/"
                class="flex items-center gap-2"
                aria-label="Ir al inicio - Hackscate"
            >
                <HackscateIcon className="size-6 md:size-10" />
            </a>
            <input
                type="checkbox"
                name="menu-toggle"
                id="menu-toggle"
                class="hidden peer/menu-toggle z-100"
            />
            <ul
                class="flex flex-col md:flex-row p-6 fixed border-l-2 md:border-l-0 md:static bg-black md:bg-transparent w-2/3 md:w-auto -right-full peer-checked/menu-toggle:right-0 h-full md:h-auto top-0 text-lg gap-8 [&>li]:flex [&>li]:items-center pl-8 [&>li>a]:font-semibold [&>li>a]:text-lg"
            >
                <li>
                    <a href={`/${lang}/`} aria-current="page">{n.home}</a>
                </li>
                <li>
                    <a href={`/${lang}/sponsors`}>{n.sponsors}</a>
                </li>
                <li>
                    <a href={`/${lang}/faq`}>{n.faq}</a>
                </li>
            </ul>
        </nav>
        <a
            href="#"
            class="text-black hover:text-white bg-white hover:bg-amber-400 pl-6 pr-3 pb-2 pt-1 esquina-cortada font-semibold hidden md:inline z-10 transition-colors duration-200"
            role="button"
            aria-label="Proximamente inscripciones">{n.registration}</a
        >
        <label
            for="menu-toggle"
            class="text-primary md:hidden z-10 cursor-pointer"
            ><MenuIcon />
        </label>
    </div>
</header>
