---
import HackscateIcon from "@components/icons/HackscateIcon.astro";
import MenuIcon from "@components/icons/MenuIcon.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

interface Props {
    lang: "es" | "en";
}

export async function getStaticPaths() {
    return [{ params: { locale: "en" } }, { params: { locale: "es" } }];
}

const { lang } = Astro.props;
const t = useTranslations(lang);

const nav = t("nav");
---

<header class="bg-muted px-12 py-6 tablet:py-1 z-50 border-1 border-border rounded-tl-2xl rounded-br-2xl" role="banner">
    <div class="flex justify-between overflow-hidden items-center">
        <nav class="flex items-center z-10" aria-label="Navegación principal">
            <a
                href={`/${lang}`}
                class="flex items-center gap-2"
                aria-label="Ir al inicio - Hackscate"
            >
                <HackscateIcon className="size-8 md:size-10" />
            </a>
            <input
                type="checkbox"
                name="menu-toggle"
                id="menu-toggle"
                class="hidden peer/menu-toggle z-100"
            />
            <ul
                class="flex flex-col md:flex-row p-6 fixed border-l-2 md:border-l-0 md:static bg-black md:bg-transparent w-2/3 md:w-auto -right-full peer-checked/menu-toggle:right-0 h-full md:h-auto top-0 text-lg gap-8 [&>li]:flex [&>li]:items-center pl-8 [&>li>a]:font-regular [&>li>a]:text-lg"
            >
                <li><a href={`/${lang}`} aria-current="page">{nav.home}</a></li>
                <li><a href={`/${lang}/sponsors`}>{nav.sponsors}</a></li>
                <li><a href={`/${lang}/faq`}>{nav.faq}</a></li>
            </ul>
        </nav>
        <a
            href="#"
            class="text-black bg-white px-6 py-1 esquina-cortada font-semibold hidden md:inline z-10 rounded-tl-2xl rounded-br-2xl rounded-xs"
            role="button"
            aria-label="Únete Hoy">{nav.registration}</a
        >
        <label
            for="menu-toggle"
            class="text-primary md:hidden z-10 cursor-pointer"
            ><MenuIcon className="size-8" />
        </label>
    </div>
</header>
